<app-menu></app-menu>
<div style="padding: 2%">
  <div class="row">
    <div class="col-lg-10">
      <h5>
        <strong class="h3 text-monospace">
          <span class="text-success">C</span
          ><span class="text-primary">R</span
          ><span class="text-warning">U</span
          ><span class="text-danger">D</span>
        </strong>
        Proveedor
      </h5>
    </div>
  </div>
  <!-- Resto del contenido... -->
  <div class="row mt-3 ml-3 mr-3">
        <div class="col-lg-2">
          <h5>Filtro...</h5>
        </div>
        
  </div>
      
      <div class="row mt-3 ml-3 mr-3">
        <div class="col-lg-2">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="search"
                    name="search"
                    type="search"
                    placeholder="Buscar..."
                    class="form-control ml-25"
                    [(ngModel)]="searchText"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
        </div>
        <div class="col-lg-2 mt-4">
                <button
                  (click)="consultar()"
                  class="btn btn-success btn-block mt-2">
                  Filtrar
                </button>
        </div>
        <div class="col-lg-2 mt-4">
          <button
            (click)="limpiarFiltro()"
            class="btn btn-secondary btn-block mt-2"
          >
            Limpiar filtro
          </button>
        </div>
        <div class="col-lg-2 mt-4">
          <button
            data-toggle="modal"
            data-target="#modalAgregar"
            class="btn btn-success btn-block mt-2"
          >
            Agregar
          </button>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Razón Social</th>
                <th>RUC</th>
                <th>Dirección</th>
                <th>Celular</th>
                <th>Contacto</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody class="table-striped">
              <tr *ngFor="let proveedor of listaProveedores">
                <td>{{ proveedor.idProveedor }}</td>
                <td>{{ proveedor.razonsocial }}</td>
                <td>{{ proveedor.ruc }}</td>
                <td>{{ proveedor.direccion }}</td>
                <td>{{ proveedor.celular }}</td>
                <td>{{ proveedor.contacto }}</td>
                <td>{{ proveedor.estado === 1 ? 'Activo' : 'Inactivo' }}</td>
                <td>
                  <button (click)="busca(proveedor)" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalActualizar">Actualizar</button>
                  <button (click)="eliminar(proveedor)" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      
      <!-- Modal para agregar -->
      <div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="modalAgregarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalAgregarLabel">Agregar Proveedor</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form #formsAgrega="ngForm" (ngSubmit)="agregar()">
                <div class="mb-3">
                  <label for="razonsocial" class="form-label">Razón Social</label>
                  <input type="text" class="form-control" id="razonsocial" name="razonsocial" required [(ngModel)]="proveedor.razonsocial">
                </div>
                <div class="mb-3">
                  <label for="ruc" class="form-label">RUC</label>
                  <input type="text" class="form-control" id="ruc" name="ruc" required [(ngModel)]="proveedor.ruc">
                </div>
                <div class="mb-3">
                  <label for="direccion" class="form-label">Dirección</label>
                  <input type="text" class="form-control" id="direccion" name="direccion" required [(ngModel)]="proveedor.direccion">
                </div>
                <div class="mb-3">
                  <label for="celular" class="form-label">Celular</label>
                  <input type="text" class="form-control" id="celular" name="celular" required [(ngModel)]="proveedor.celular">
                </div>
                <div class="mb-3">
                  <label for="contacto" class="form-label">Contacto</label>
                  <input type="text" class="form-control" id="contacto" name="contacto" required [(ngModel)]="proveedor.contacto">
                </div>
                <div class="mb-3">
                  <label for="estado" class="form-label">Estado</label>
                  <select class="form-select" id="estado" name="estado" required [(ngModel)]="proveedor.estado">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                  </select>
                </div>
                      
                <!-- Agregar más campos si es necesario -->

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary" [disabled]="formsAgrega.invalid">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      
      <!-- Modal para actualizar -->
      <div class="modal fade" id="modalActualizar" tabindex="-1" aria-labelledby="modalActualizarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalActualizarLabel">Actualizar Proveedor</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form #actualizarProveedorForm="ngForm" >
                <div class="mb-3">
                  <label for="razonsocialUpdate" class="form-label">Razón Social</label>
                  <input type="text" class="form-control" id="razonsocialUpdate" name="razonsocialUpdate" required [(ngModel)]="proveedor.razonsocial">
                </div>
                <div class="mb-3">
                  <label for="rucUpdate" class="form-label">RUC</label>
                  <input type="text" class="form-control" id="rucUpdate" name="rucUpdate" required [(ngModel)]="proveedor.ruc">
                </div>
                <div class="mb-3">
                  <label for="direccionUpdate" class="form-label">Dirección</label>
                  <input type="text" class="form-control" id="direccionUpdate" name="direccionUpdate" required [(ngModel)]="proveedor.direccion">
                </div>
                <div class="mb-3">
                  <label for="celularUpdate" class="form-label">Celular</label>
                  <input type="text" class="form-control" id="celularUpdate" name="celularUpdate" required [(ngModel)]="proveedor.celular">
                </div>
                <div class="mb-3">
                  <label for="contactoUpdate" class="form-label">Contacto</label>
                  <input type="text" class="form-control" id="contactoUpdate" name="contactoUpdate" required [(ngModel)]="proveedor.contacto">
                </div>
                <div class="mb-3">
                  <label for="estadoUpdate" class="form-label">Estado</label>
                  <select class="form-select" id="estadoUpdate" name="estadoUpdate" required [(ngModel)]="proveedor.estado">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary" [disabled]="actualizarProveedorForm.invalid" (click)="actualizar(proveedor)">Actualizar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
</div>